/*============= Banner area start  =============*/
.banner-section {
    position: relative;
    .banner-effect  {
        content: "";
        position: absolute;
        width: 283px;
        height: 330px;
        background:  hsl(var(--base));
        opacity: 0.8;
        filter: blur(80px);
        border-radius: 1% 50% 50% 0%;
        z-index: -1; 
        @include sm-screen {
           width: 183px;
            height: 230px;
        }
        @include xsm-screen {
           width: 120px;
            height: 160px;
        }
        &.shape-1 {
            top: 0%;
            left: 4%;
        }       
        &.shape-2 {
            bottom: 0%;
            right: 0%;
        }     
        @include  msm-screen {
            top: 15%;
        }
    }
}


.banner-section {
    position: relative;
    z-index: 1;
    padding: 270px 0 210px;
    overflow: hidden;
    &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: hsl(var(--dark));
        top: 0;
        left: 0;
        opacity: .6;
        z-index: -1;
    }
    @include lg-screen {
        padding: 230px 0 160px;
    }
    @include md-screen {
        padding: 140px 0 150px;
    }
    @include sm-screen {
        padding: 140px 0 140px;
    }
    @include xsm-screen {
         padding: 95px 0 90px;
    }
}

.banner-left{
    &__content {
        span {
            font-size: 18px;
            font-weight: 600;
            padding: 5px 17px;
            color: hsl(var(--white));
            border-radius: 5px;
            display: inline-block;
            margin-bottom: 20px;
            letter-spacing: 3px;
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            @include sm-screen {
                font-size: 18px;
           }
            @include xsm-screen {
                font-size: 16px;
           }
        }
        h2 {
            font-size: 63px;
            text-transform: uppercase;
            margin-bottom: 20px;
            font-weight: 800;
            color: hsl(var(--white));
            line-height: 1;           
             @include xl-screen {
                font-size: 60px;
            }
            @include sm-screen {
                font-size: 50px;
            }
            @include xxsm-screen {
                font-size: 38px;
            }
            .animate-shape { 
                position: relative;
                width: 100%;
                top: 0;
                position: absolute;
                left: 0;
                @include sm-screen {
                  width: 65%;
                }
                img {  
                position: absolute;
                top: 50px;
                left: 50%;
                transform: translateX(-50%);
                z-index: -1;
                -webkit-animation: section-animation 3s infinite;
                animation: section-animation 3s infinite;
                }
            }
            span {
                color: hsl(var(--base));
                background-image: linear-gradient(to right,  hsl(var(--base)) 0%,  hsl(var(--base-light)) 100%);
                // -webkit-background-clip: text;
                // -webkit-text-fill-color: transparent;
            }
        }
        p {
            margin-bottom: 35px;
            color: hsl(var(--white));
        }
        .btn {
            color: hsl(var(--white));
            &:hover {
                color: hsl(var(--base));
            }
            @include md-screen {
                padding: 12px 15px;
            }
            @include xxsm-screen {
                padding: 8px 10px;
            }
        }
    }
}

.experience-text {
    width: auto;
    top: -43px;
    background-image:  hsl(var(--base));
    padding: 15px 20px;
    position: absolute;
    left: 50%;
    border-radius: var(--border-radius);
    border-radius: var(--border-radius);
    border: 5px solid hsl(var(--white)/.5);
    @include msm-screen {
        padding: 10px;
    }
    h4 {
        font-size: 45px;
        text-align: center;
        color: hsl(var(--white));
        margin-bottom: 0;
        font-weight:700;
    }
    span {
        color: hsl(var(--white));
        font-weight: 600;
        font-size: 13px;
    }
    
}

.banner-right-wrap {
    text-align: right;
    position: relative;
    margin-left: 30px;
    background: linear-gradient(43.32deg, hsl(var(--base-two)/.5) 14.73%, hsl(var(--base)/.5) 86.35%, hsl(var(--base)/.5) 86.35%);
    padding: 40px;
    border-radius: 20px 80px 20px;
    @include md-screen {
        margin-left: 0;
        margin-top: 40px;
    }
    .round-shape-1 {
        position: absolute;
        width: 71px;
        right: 8%;
        top: 20%;
    }
    .octagon-shape-1 {
        position: absolute;
        left: -50px;
        width: 70px;
        top: 80px;
        @include md-screen {
            left: 121px;
            width: 70px;
            top: -99px;
        }
        @include sm-screen {
            left: 57%;
            top: -73px;
            width: 50px;
        }
    }
}

@keyframes section-animation {
    0% {
        width: 0;
    }
    
    15% {
        width: 50%;
    }
    85% {
        opacity: 1;
    }
    90% {
        width: 50%;
        opacity: 0;
    }
    100% {
        width: 0;
        opacity: 0;
    }
  }