.box-wrapper {
	width: 480px;
	margin: 50px auto;
	padding: 30px;
    border-radius: 10px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.sing-input {
    margin-bottom: 10px;
  }
  .sing-input label {
    display: block;
    margin-bottom: 7px;
    font-size: 18px;
  }
  .sing-input span {
    display: block;
    margin-top: 5px;
    color: red;
  }
  
.sing-input input {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 6px;
  }
  .sing-input input::focus {
    border: 1px solid #aea1a1;
  }
  
.btn {
    border: 0;
    outline: 0;
    padding: 10px 35px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 26px;
    cursor: pointer;
    display: inline-block;
    background: #ddd;
    text-decoration: navajowhite;
  }