/*=========================== Accodion style start =============================*/
.accordion-area {
    position: relative;
    .faq-bg-img {
        position: absolute;
        top: 0;
        height: 100%;
        width: 48%;
        @include md-screen {
            display: none;
        }
    }
}

.custom--accordion {
    .accordion-item {
        background-color: transparent !important;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
        border: 1px solid hsl(var(--base)/.2);
        position: relative;
        &:not(:last-child) {
            margin-bottom:20px;
        }
    }
    .accordion-body {
        padding: 20px;
        background-color: hsl(var(--base)/0.03);
        .text {
            max-width: 60%;
            @include msm-screen {
                max-width: 100%;
            }
        }
    }
    &:first-of-type .accordion-button.collapsed {
        border-radius:0px;  
        font-weight: 600; 
    }
    &:last-of-type .accordion-button.collapsed {
        border-radius: 0px;  
    }
    .accordion-button {
        background-color: hsl(var(--base)/0.03);
        color: var(--heading-color);
        font-size: 20px;
        padding: 15px ;
        @include msm-screen {
            font-size: 18px;
            padding: 13px;
            padding-right: 30px;
        }
        &::after {
            background-image: none;
        }
        &:focus {
            box-shadow: none;
        }
        &:not(.collapsed) {
            color: hsl(var(--dark)); 
            background-color:hsl(var(--base)/0.06) !important;
            box-shadow: none;
            border-bottom: 1px solid hsl(var(--base) /.09 );
            font-weight: 600;
            &::after {
                transform: rotate(0deg);
                background-image: none;
                color: hsl(var(--base)); ; 
            }
        }
        &[aria-expanded="true"], &[aria-expanded="false"] {
            &::after {
                font-family: "Line Awesome Free";
                font-weight: 600;
                content: "\f068";
                display: inline-block;
                position: relative;
                margin-left: auto;
                width: 0 !important;
                right: 16px;
                color: hsl(var(--base)) !important;
                @include msm-screen {
                    right: -13px;
                    font-size: 14px;
                }
            }
        }
        &[aria-expanded="false"] {
            &::after {
                content: "\f067";
                color: hsl(var(--body-color));
            }
        }
    }
    
}
