/*====================== Comment Style ====================*/
.comment-list {
    &__item {
        &:last-child .comment-list__content {
            border-bottom: none; 
          }
    }
    &__thumb {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        @include sm-screen {
            width: 60px;
            height: 60px;
        }
        img {
            @include fit-image; 
        }
    }
    &__content {
        width: calc(100% - 80px);
        padding-left: 15px;
        border-bottom: 1px solid hsl(var(--white) / .1);
        padding-bottom: 30px;
        margin-bottom: 30px;
        @include sm-screen {
            width: calc(100% - 60px);
            padding-bottom: 25px;
            margin-bottom: 25px;
        }
        @include msm-screen {
            padding-bottom: 20px;
            margin-bottom: 20px;
            width: 100%;
            padding-left: 0;
            margin-top: 15px;
        }
    }
    &__name {
        font-size: 20px;
        margin-bottom: 5px;
        color: hsl(var(--white));
        @include sm-screen {
            font-size: 17px;
        }
    }
    &__time {
        margin-bottom: 15px;
        &-icon {
            color: hsl(var(--base));
            font-size: 15px;
            margin-right: 5px;
        }
    }
    &__reply {
        margin-top: 10px;
        &-text {
            color: hsl(var(--base));
            font-weight: 400;
        }
        &:hover &-icon {
            color: hsl(var(--base));
        }
        &-icon {
            font-size: 14px;
            transform: scaleX(-1);
            margin-left: 5px;
            @include sm-screen {
                font-size: 12px;
            }
        }
    }

    // Second List Item
    .comment-list {
        margin-left: 70px;
        &.style-right {
            .comment-list__item {
                &:last-child .comment-list__content {
                    border-bottom: 1px solid hsl(var(--white) / .1);
                  }
            }
        }
        @include msm-screen {
            margin-left: 40px;
        }
    }
} 
